language: node_js
node_js:
  - "0.12"
  - "0.10"
  - "0.8"
before_install:
  - 'if [ "${TRAVIS_NODE_VERSION}" == "0.8" ] ; then npm install -g npm@1.4.28; fi'
services:
  - redis
  - mongodb
before_install:
  - npm install -g npm